*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: papayawhip;
    font-family: Arial, Helvetica, sans-serif;
  }
  nav{
    background: #666370;
    justify-content:space-around;
    align-items:center;
    font-family:  sans-serif;
  
  }
  h3{
    font-family:  sans-serif;
  }
  .navbar-brand{
    color: papayawhip;
    text-decoration: none;
    font-family:  sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  .navbar-brand:hover{
    color: chartreuse;
  }
  .navbar-nav{
    display: flex;
    justify-content:space-around;
    width:70%;
  }
  .navbar-nav a{
    color: papayawhip;
    text-decoration: none;
    letter-spacing: 3px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
  }
  .navbar-nav2{
    display: flex;
    justify-content: space-around;
   width: fit-content;
  }
  .btn-primary{ 
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
  .navbar-nav2 .btn:hover{
    color: chocolate;
    text-decoration: underline;
  }
  .navbar-nav a:hover{
    color: chartreuse;
    text-decoration: underline;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 peachpuff;
      font-weight: bold;
  }
  

body{
    width: 100%;
     max-width: 100%; 
    margin: 2em auto;
    font: .9em/1.2 Arial;
    background-image: url('/images/monterey2.jpeg');
}
.container{
    margin-top: 100px;
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}
header{
    grid-area: header;
}
article{
    grid-area: content;
    background-color: #666370;
    opacity: 0.9;
    border-radius: 10px;
    border: 5px solid papayawhip;
}
aside{
    grid-area: sidebar;
    background-color: #666370;
    opacity: 0.9;
    border-radius: 10px;
    border: 5px solid papayawhip;
}
footer{
    grid-area: footer;
}
header, footer{
    border-radius: 5px;
    padding:10px;
    background-color: #666370;
    border: 5px solid papayawhip;
    border-radius: 10px;
    opacity: 0.9;
}
p{
  padding: 30px;
  font-size: 18px;
}


